In [1]:
print(123123123123123123123123123123123123123123123123+1)

123123123123123123123123123123123123123123123124

In [2]:
print(10)

10

In [3]:
Print(10)
print(type(10))

NameError: name 'Print' is not defined

In [4]:
print(10)
print(type(10))

10
<class 'int'>

In [6]:
print(4.2)
print(type(4.2))

print(4.)

print(.2)

print(.4e7)

print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

In [7]:
print("Hacktiv8")
print(type("Hecktiv8"))
print('Hacktiv8')
print(type('Hacktiv8'))

Hacktiv8
<class 'str'>
Hacktiv8
<class 'str'>

In [8]:
print("This string contains a single quote (') character.")
print('This string contains a single quote ("") character.')

This string contains a single quote (') character.
This string contains a single quote ("") character.

In [9]:
P=5
C=90
print(p+c*c/c)

NameError: name 'p' is not defined

In [10]:
p=5
c=90
print(p+c*c/c)

95.0

In [11]:
P=5
C=90
k=p+c*c/c
print(k)
print(type(k))

95.0
<class 'float'>

In [12]:
a=10000
print(a)

a

10000

10000

In [1]:
print(type(0))

<class 'int'>

In [2]:
a=10000
print(a)

a

10000

10000

In [3]:
a=10000

a

10000

In [4]:
8nama=9
print(8nama)

SyntaxError: invalid syntax (Temp/ipykernel_5180/1376964354.py, line 1)

In [1]:
a=['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a[0])
print(a[3])

foo
qux

In [2]:
a=['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a[-1])
print(a[-6])

corge
foo

In [4]:
a=['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a[2:5]

['baz', 'qux', 'quux']

In [5]:
a=['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a)
print(a+['grault','garply'])
print(a*2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [6]:
a=['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a)
print(a+['grault','garply'])
print(a*2)
#penggunaan len(), min(), max()
print(len(a))
print(max(a))
print(min(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
qux
bar

In [7]:
a=['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a)
a[2]=10
a[-1]=20
print(a)
del a[3]
print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]
['foo', 'bar', 10, 'quux', 20]

(s1, s2, s3, s4) = ('foo, 'bar', 'baz', 'qux')
s1

In [8]:
(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux') 
s1

'foo'

In [21]:
MLB_team= {
    'Corlando' : 'Rokies',
    'Boston' : 'Red Sox',
    'Minnesota' : 'Twins',
    'Milwaukee' : 'Brewars',
    'Seattle' : 'Mariners'
}

print(MLB_team['Corlando'])

Rokies

In [23]:
# Adding an entry to an existing dictionary is simply a matter of assigning a new key and value :
MLB_team['Kansas City']='Royals'
MLB_team

{'Corlando': 'Rokies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewars',
 'Kansas City': 'Royals'}

In [24]:
# If you want to update an entry, you can just assign a new value to an existing key :
MLB_team['Seattle']='Seahwaks'
MLB_team

{'Corlando': 'Rokies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewars',
 'Kansas City': 'Royals',
 'Seattle': 'Seahwaks'}

In [25]:
# To delete an entry, use the del statement, specifying the key to delete :
del MLB_team['Seattle']
MLB_team

{'Corlando': 'Rokies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewars',
 'Kansas City': 'Royals'}

In [26]:
person ={}
type(person)

person['fname']='Hack'
person['lname']='PTP'
person['age']='51'
person['spouse']='egna'
person['children']='Ralph', 'Betty', 'Joey'
person['pets']={'dog':'fido','cat':'Nike'}

person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': '51',
 'spouse': 'egna',
 'children': ('Ralph', 'Betty', 'Joey'),
 'pets': {'dog': 'fido', 'cat': 'Nike'}}

In [27]:
print(person['fname'])
print(person['lname'])

Hack
PTP

In [28]:
print(person['children'])
print(person['children'][2])

('Ralph', 'Betty', 'Joey')
Joey

In [29]:
print(person['pets'])
print(person['pets']['dog'])

{'dog': 'fido', 'cat': 'Nike'}
fido

In [32]:
#Built-in Methods
d={'a':10,'b':20,'c':30}

#items
print(d.items())

#keys
print(d.keys())

#values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

In [36]:
personal1_age=41
personal2_age=16
personal3_age=71

someone_is_of_working_age = (personal1_age >=18 and personal1_age <=65) or (personal2_age >=18 and personal2_age <=65) or (personal3_age >=18 and personal3_and <=65)
someone_is_of_working_age

True

In [38]:
someone_is_of_working_age = (
(personal1_age >=18 and personal1_age <=65) 
    or (personal2_age >=18 and personal2_age <=65) 
    or (personal3_age >=18 and personal3_age <= 65)
)
someone_is_of_working_age

True